############
## OS
############
Thumbs.db
Desktop.ini
.DS_Store

#############
## Python
#############
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo

#############
## Packages
#############
praw.ini

